@-webkit-keyframes bounce {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform:scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes bounce {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    40% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.L-Spinner {
    width:70px;
    margin:0 auto;
    text-align: center;
}
.L-Spinner div {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color:#424242;
    border-radius: 100%;
    /*! -webkit-animation:bounce 1.4s infinite ease-in-out both; */
    animation: bounce 1.4s infinite ease-in-out both;
}
.L-Spinner .L-Bounce1 {
    -webkit-animation-delay: -.32s;
    animation-delay: -.32s;
}
.L-Spinner .L-Bounce2 {
    -webkit-animation-delay: -.16s;
    animation-delay: -.16s;
}